.App {
  text-align: center;
  width: 500px;
  height: auto;
  background-color: #f0f7f7 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background {
  background: url("images/background.svg");
  background-repeat: no-repeat;
  background-size: 36%;
  background-position: right -15px bottom -20px;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}
